Repository ccenter-uz/WFM-Sys-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{html,json,css,scss}": "prettier --write",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"]
}

fix(style): Fixed style imports
  .eslintrc.js
  tsconfig.json
Due: prettier --write

fix(checking-import): Checking unresolved imports
  .eslintrc.js
  src/app/Layout/index.tsx
  src/shared/lib/helpers/getPureCurrentLocation.tsx
  tsconfig.json
Due: prettier --write, eslint --fix

fix(optimize): Optimized and isolated breadcrumb
  src/features/breadcrumb/ui/index.tsx
  src/features/example/api/endpoints.ts
  src/features/example/api/index.ts
  src/features/example/api/types.ts
  src/features/example/index.ts
  src/features/example/ui/index.tsx
  src/features/index.tsx
  src/pages/Dashboard/ui/index.tsx
  src/pages/Database/ui/index.tsx
  src/shared/index.tsx
  src/shared/lib/helpers/getLinkName.tsx
  src/shared/lib/helpers/getPureCurrentLocation.tsx
Due: prettier --write, eslint --fix

fix(database): Remove no-unresolved path from apiSlices.ts
  src/app/store/api/apiSlices.ts
Due: prettier --write, eslint --fix

fix(shared): Changed name of object getLinkName to LinkName
  src/features/breadcrumb/ui/index.tsx
  src/shared/index.tsx
  src/shared/lib/helpers/LinkName.tsx
Due: prettier --write, eslint --fix

feat(database-table): Created database table
  public/arrow-down.svg
  public/folder.svg
  public/pen.svg
  public/trash.svg
  src/widgets/Employees/ui/index.tsx
  src/widgets/employeesDepartmentTable/index.tsx
  src/widgets/employeesDepartmentTable/ui/index.tsx
  src/widgets/employeesDepartmentTable/ui/style.css
  src/widgets/employeesDepartmentTableItem/index.tsx
  src/widgets/employeesDepartmentTableItem/ui/index.tsx
  src/widgets/employeesDepartmentTableItem/ui/style.css
Due: prettier --write, eslint --fix

feat(msw): Installed msw
  package-lock.json
  package.json
Due: prettier --write

feat(msw): MSW configuration and basic API call settings completed
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/app/Layout/index.tsx
  src/app/apiMockWorker.ts
  src/app/main.tsx
  src/shared/api/apiAccessTokenIsBrokenEvent.ts
  src/shared/api/baseApi.ts
  src/shared/api/baseQuery.ts
  src/shared/api/baseQueryWithReauth.ts
  src/shared/api/tags.ts
  src/shared/lib/env.ts
  vite.config.ts
Due: prettier --write, eslint --fix

fix(msw): Removed unused code lines
  src/app/Layout/index.tsx
  src/app/main.tsx
  src/app/store/api/apiSlices.ts
Due: prettier --write, eslint --fix

refactor(msw): Cleaned code from meanless commints and unused code
  src/shared/api/baseApi.ts
  src/shared/api/baseQuery.ts
  src/shared/api/baseQueryWithReauth.ts
Due: prettier --write, eslint --fix

feat(env): Added endpoint var to env.sample
  .env.sample
  .env.test
Due: none
